@import './utils';
@import './media-queries';

.corsi {
    background: $primary-color;
    background-image: url(https://i.imgur.com/0uj4KI8.png), url(https://i.imgur.com/0uj4KI8.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
    color: white;
    display: flex;
    align-items: center;
    height: 50rem;
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    padding:0 10rem;


    &-box {
        display: flex;
        @include transparent-box;
        max-width: 563px;
        padding: 1.5rem;
        margin: 2rem;
        
        .left {
            width: 50rem;
            h3 {
                font-size: 2rem;
                padding-bottom: 1rem;
            }

            p {
            font-size: 1.2rem;
            }
            
            .top {
                padding-bottom: 3rem;
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: first baseline;
                p {
                    padding-left: 5px;
                }
            }
        }

        #right1 {
            background: linear-gradient(135deg, #8a03ca 0%, rgba(186, 3, 202, 0.51) 100%);
        }

        #right2 {
            background: linear-gradient(135deg, #ca036e 0%, rgba(202, 3, 75, 0.5) 100%);
        }

        #right3 {
            background: linear-gradient(135deg, #03a6ca 0%, rgba(31, 3, 202, 0.51) 100%);
        }

        #right4 {
            background: linear-gradient(135deg, #66a01e 0%, rgba(78, 123, 23, 0.51) 100%);
        }

        #right5 {
            background: linear-gradient(135deg, #ff8400 0%, rgba(236, 87, 3, 0.51) 100%);
        }

        #right6 {
            background: linear-gradient(135deg, #ff3364 0%, rgba(255, 111, 145, 0.51) 100%);
        }

        #right7 {
            background: linear-gradient(135deg, gainsboro 0%, rgba(255, 255, 255, 0.51) 100%);
        }

        .right {  
            @include transparent-box;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            padding-top: 24px;
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            

            .ore {
                text-align: center;
                width: 52px;
                height: 20px;
                background-color: rgba(36, 39, 48, 0.5);
                border-radius: 7px;
            }

            .sfera {
                width: 109px;
                height: 109px;
                border-radius: 100%;
                margin: 78px 40px;
            }

            #sfera1 {
               background-color: #ca0392;   
            }

            #sfera2 {
                background-color: #a203ca;   
             }

             #sfera3 {
                background-color: #03a6ca;;   
             }

             #sfera4 {
                background-color: #4e7b17;;   
             }

             #sfera5 {
                background-color: #ec5703;   
             }

             #sfera6 {
                background-color: #ff3364;;   
             }

             #sfera7 {
                background-color: #dcdcdc;   
             }
        }
    }
}