@import './utils';
@import './media-queries';

.recensioni {
    background: $primary-color;
    color: white;
    @include flexCenter;
    flex-direction: column;
    padding-top: 2rem;

    h1 {
        @include titolo;
        
        @include tablet {
            text-align: center;
        }
    }

    &-swipe {
        display: flex;
        align-items: center;
        height: 40rem;
        width: 100%;
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
        padding: 0 10rem;

        .sfondo {
            background-image: url(https://i.imgur.com/gxzu8R0.png);
            background-repeat: no-repeat;
            background-position: center top;
            #feedback {
                @include transparent-box;
                @include flexCenter;
                flex-direction: column;
                margin: 2rem;
                height: 28rem;
                width: 23rem;
                padding-bottom: 3rem;

                img {
                    padding: 1.5rem;
                }

                h3 {
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                    padding-top: 2.5rem;
                }

                p {
                    @include flexCenter;
                    padding: 1.5rem 2rem;
                    height: 10rem;
                }
            }
        }
    }
}
