* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@import './navbar';
@import './hero';
@import './pregi';
@import './recensioni';
@import './percorso';
@import './corsi';
@import './pagamento';
@import './crescita';
@import './iscriviti';
@import './footer';